@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Ana Panel</h2>
                </div>
            </div>
        </div>
        <div class="row column1">
            <div class="col-md-6 col-lg-3">
                <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                        <div>
                            <i class="fa fa-cubes text-dark"></i>
                        </div>
                    </div>
                    <div class="counter_no">
                        <div>
                            <p class="total_no">@ViewBag.Class</p>
                            <p class="head_couter">Sınıf</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                        <div>
                            <i class="fa fa-star blue1_color"></i>
                        </div>
                    </div>
                    <div class="counter_no">
                        <div>
                            <p class="total_no">@ViewBag.Teachers</p>
                            <p class="head_couter">Öğretmen</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                        <div>
                            <i class="fa fa-smile-o yellow_color"></i>
                        </div>
                    </div>
                    <div class="counter_no">
                        <div>
                            <p class="total_no">@ViewBag.Kids</p>
                            <p class="head_couter">Çocuk</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                        <div>
                            <i class="fa fa-thumbs-o-up green_color"></i>
                        </div>
                    </div>
                    <div class="counter_no">
                        <div>
                            <p class="total_no">@ViewBag.Capacity</p>
                            <p class="head_couter">Kalan Kontenjan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- graph -->
        <!-- end graph -->
        <div class="row column3">
            <div class="col-md-6">
                <div class="dash_blog">
                    <div class="dash_blog_inner">
                        <div class="dash_head">
                            <h3><span><i class="fa fa-calendar"></i>&nbsp; Son Kayıt Olan Çocuklar</span><span class="plus_green_bt"><a href="/Kid/Index">+</a></span></h3>
                        </div>
                        <div class="list_cont">
                            <p>Today Tasks for Ronney Jack</p>
                        </div>
                        <div class="task_list_main">
                            <ul class="task_list">
                                <li><a href="#">Meeting about plan for Admin Template 2018</a><br><strong>10:00 AM</strong></li>
                                <li><a href="#">Create new task for Dashboard</a><br><strong>10:00 AM</strong></li>
                                <li><a href="#">Meeting about plan for Admin Template 2018</a><br><strong>11:00 AM</strong></li>
                                <li><a href="#">Create new task for Dashboard</a><br><strong>10:00 AM</strong></li>
                                <li><a href="#">Meeting about plan for Admin Template 2018</a><br><strong>02:00 PM</strong></li>
                            </ul>
                        </div>
                        <div class="read_more">
                            <div class="center"><a class="main_bt read_bt" href="#">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("_AdminProgressPartial")
        </div>
    </div>
