
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

@await Component.InvokeAsync("_FeaturePartial")

@await Component.InvokeAsync("_FacilitiyPartial")

@await Component.InvokeAsync("_AboutPartial")

@await Component.InvokeAsync("_ClassesPartial")

@await Component.InvokeAsync("_RegisterPartial")

@await Component.InvokeAsync("_TeacherPartial")

@await Component.InvokeAsync("_TestimonialPartial")

<div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="row pt-5">

        @await Component.InvokeAsync("_SocialPartial")

        @await Component.InvokeAsync("_ContactPartial")

        @await Component.InvokeAsync("_QuickPartial")

        @await Component.InvokeAsync("_NewsletterPartial")

    </div>
    <div class="container-fluid pt-5"
         style="border-top: 1px solid rgba(23, 162, 184, 0.2) ;">
        <p class="m-0 text-center text-white">
            &copy;
            <a class="text-primary font-weight-bold" href="#">KidKinder </a>.
            Tüm hakları saklıdır.

            Designed by
            <a class="text-primary font-weight-bold" href="https://htmlcodex.com">Kadir GÜVEN</a>
            <br />Distributed By:
            <a href="#" target="_blank">Murat YÜCEDAĞ</a>
        </p>
    </div>
</div>