
@model List<Gallery>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5">
                <span class="px-2">Galeri</span>
            </p>
            <h1 class="mb-4">Çocuklarımızın Galerisi</h1>
        </div>
       
        <div class="row portfolio-container">
            @foreach(var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="" style="width: 500px; height: 300px; object-fit: fill; border-radius:10px" src="@item.ImageUrl" alt="" />
                        <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                            <a href="@item.ImageUrl" data-lightbox="portfolio">
                                <i class="fa fa-plus text-white" style="font-size: 60px"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
           
        </div>
    </div>
</div>
