@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Ana Panel</h2>
                </div>
            </div>
        </div>
        <div class="row column1">
            <div class="col-md-6 col-lg-3">
                <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                        <div>
                            <i class="fa fa-cubes text-dark"></i>
                        </div>
                    </div>
                    <div class="counter_no">
                        <div>
                            <p class="total_no">@ViewBag.Class</p>
                            <p class="head_couter">Sınıf</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                        <div>
                            <i class="fa fa-star blue1_color"></i>
                        </div>
                    </div>
                    <div class="counter_no">
                        <div>
                            <p class="total_no">@ViewBag.Teachers</p>
                            <p class="head_couter">Öğretmen</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                        <div>
                            <i class="fa fa-smile-o yellow_color"></i>
                        </div>
                    </div>
                    <div class="counter_no">
                        <div>
                            <p class="total_no">@ViewBag.Kids</p>
                            <p class="head_couter">Çocuk</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                        <div>
                            <i class="fa fa-thumbs-o-up green_color"></i>
                        </div>
                    </div>
                    <div class="counter_no">
                        <div>
                            <p class="total_no">@ViewBag.Capacity</p>
                            <p class="head_couter">Kalan Kontenjan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row column3">

            @await Component.InvokeAsync("_AdminProgressPartial")

            @await Component.InvokeAsync("_AdminTestimonialPartial")

        </div>
        <!-- graph -->
        <!-- end graph -->
        <div class="row column3">

            @await Component.InvokeAsync("_AdminDashboardKidsPartial")

            @await Component.InvokeAsync("_AdminDashboardClassPartial")

        </div>

    </div>
    </div>
