
<div class="container-fluid pt-5">
    <div class="container pb-3">
        <div class="row">
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4"
                     style="padding: 30px">
                    <i class="flaticon-050-fence h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Oyun Alanları</h4>
                        <p class="m-0">
                            Çocuklarımız için özel olarak tasarlanmış oyun alanlarımızda sosyal becerilerini geliştirmelerini teşvik ediyoruz. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4"
                     style="padding: 30px">
                    <i class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Müzik ve Dans</h4>
                        <p class="m-0">
                            Müzik ve dans aktivitelerimiz, çocukların yaratıcılıklarını ve özgüvenlerini artırmalarını sağlar.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4"
                     style="padding: 30px">
                    <i class="flaticon-030-crayons h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Sanat ve El Sanatları</h4>
                        <p class="m-0">
                            Sanat ve el sanatları derslerimizde çocuklar, hayal güçlerini kullanarak eserler yaratırken keyifli vakit geçirirler. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4"
                     style="padding: 30px">
                    <i class="flaticon-017-toy-car h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Güvenli Ulaşım</h4>
                        <p class="m-0">
                            Çocuklarımızın güvenliği her şeyden önce gelir. Ulaşımı için elimizden geleni yapıyoruz.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4"
                     style="padding: 30px">
                    <i class="flaticon-025-sandwich h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Sağlıklı Beslenme</h4>
                        <p class="m-0">
                            Sağlıklı beslenme alışkanlıkları çocukların büyüme ve gelişmeleri için çok önemlidir. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4"
                     style="padding: 30px">
                    <i class="flaticon-047-backpack h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Eğitim Gezileri</h4>
                        <p class="m-0">
                            Eğitim gezilerimiz, çocukların öğrenme deneyimlerini gerçek dünya uygulamalarını sağlar. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>