
@model List<ProgressBarViewModel>

<div class="col-md-6">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Sınıfların Doluluk Oranları</h2>
            </div>
        </div>
        <div class="full progress_bar_inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="progress_bar">
                        @foreach(var item in Model)
                        {
                            <span class="skill" style="width:73%;">@item.ClassName <span class="info_valume">@Convert.ToInt32(item.Capacity)</span></span>
                            <div class="progress skill-bar ">
                                <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="@Convert.ToInt32(item.Capacity)" aria-valuemin="0" aria-valuemax="100" style="width:@Convert.ToInt32(item.Capacity)%;">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>