
@model List<ProgressBarViewModel>

<div class="col-md-6">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Sınıfların Doluluk Oranları</h2>
            </div>
        </div>
        <div class="full progress_bar_inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="progress_bar">
                        @foreach(var item in Model)
                        {
                            <span class="skill" style="width:73%;">@item.ClassName <span class="info_valume">@item.Capacity</span></span>
                            <div class="progress skill-bar ">
                                <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="@item.Capacity" aria-valuemin="0" aria-valuemax="100" style="width:@item.Capacity%;">
                                </div>
                            </div>
                        }
                        
                    @*     <span class="skill" style="width:62%;">Twitter <span class="info_valume">62%</span></span>
                        <div class="progress skill-bar">
                            <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%;">
                            </div>
                        </div>
                        <span class="skill" style="width:54%;">Instagram <span class="info_valume">54%</span></span>
                        <div class="progress skill-bar">
                            <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 54%;">
                            </div>
                        </div>
                        <span class="skill" style="width:82%;">Google plus <span class="info_valume">82%</span></span>
                        <div class="progress skill-bar">
                            <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%;">
                            </div>
                        </div>
                        <span class="skill" style="width:48%;">Other <span class="info_valume">48%</span></span>
                        <div class="progress skill-bar">
                            <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100" style="width: 48%;">
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>