
@model UpdateTeacherViewModel

@{
    ViewData["Title"] = "UpdateTeacher";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Öğretmen Bilgileri </h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Öğretmen bilgisini buradan oluşturabilirsiniz.</h2>
                        </div>
                    </div>
                    <div class="table_section padding_infor_info">
                        <div class="table-responsive-sm">
                            <!-- table section -->
                            <form method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="TeacherID"/>
                                <div class="form-group p-1">
                                    <label>Öğretmen Adı</label>
                                    <input type="text" class="form-control form-control-s" asp-for="Name" placeholder="Öğretmen Adını girin">
                                </div>

                                <div class="form-group p-1">
                                    <label>Branşı</label>
                                    <input type="text" class="form-control form-control-s" asp-for="Branch" placeholder="Branşı girin">
                                </div>
                                <div class="form-group p-1">
                                    <label>Sınıf</label>
                                    @Html.DropDownListFor(x => x.KidClassID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                                </div>
                                <div class="form-group p-1">
                                    <label>Facebook Url</label>
                                    <input type="text" class="form-control form-control-s" asp-for="FacebookUrl" placeholder="Facebook Url girin">
                                </div>
                                <div class="form-group p-1">
                                    <label>Instagram Url</label>
                                    <input type="text" class="form-control form-control-s" asp-for="InstagramUrl" placeholder="Instagram Url girin">
                                </div>
                                <div class="form-group p-1">
                                    <label>Linkedin Url</label>
                                    <input type="text" class="form-control form-control-s" asp-for="LinkedinUrl" placeholder="Linkedin Url girin">
                                </div>
                                <div class="form-group p-1">
                                    <label>Öğretmen Resmi</label>
                                    <input type="file" class="form-control form-control-s" asp-for="Image" placeholder="Öğretmen resmini girin">
                                </div>
                                <button type="submit" class="btn btn-primary">Öğretmen Kaydını Düzenle</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>