
@model SendMessageViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="container-fluid bg-primary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center"
         style="min-height: 400px">
        <h3 class="display-3 font-weight-bold text-white">İletişim</h3>
        <div class="d-inline-flex text-white">
            <p class="m-0"><a class="text-white" href="">Ana Sayfa</a></p>
            <p class="m-0 px-2">/</p>
            <p class="m-0">İletişim</p>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">

    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5">
                <span class="px-2">İletişim</span>
            </p>
            <h1 class="mb-4">Sorularınız için lütfen iletişime geçmekten çekinmeyin..</h1>
        </div>


        <div class="row">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <form method="post">
                        <div class="control-group">
                            <input type="text" asp-for="Name"
                                   class="form-control"
                                   id="name"
                                   placeholder="Ad Soyad"
                                   required="required"
                                   data-validation-required-message="Lütfen adınızı yazın.." />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" asp-for="Mail"
                                   class="form-control"
                                   id="email"
                                   placeholder="Mail Adresi"
                                   required="required"
                                   data-validation-required-message="Lütfen mail adresinizi yazın.." />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" asp-for="Subject"
                                   class="form-control"
                                   id="subject"
                                   placeholder="Konu"
                                   required="required"
                                   data-validation-required-message="Lütfen konuyu yazın.." />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" asp-for="Message"
                                      rows="6"
                                      id="message"
                                      placeholder="Mesaj"
                                      required="required"
                                      data-validation-required-message="Lütfen mesajınızı yazın.."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4"
                                    type="submit">
                                Mesaj Gönder
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            @await Component.InvokeAsync("_GetInTouchPartial")

        </div>
    </div>
</div>

<div class="container-fluid pt-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24381.10329017713!2d28.89730205304775!3d40.194870920669906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca11ce3db0b24f%3A0x2a87c05f3ee165e3!2sYuzzi%20Coffee!5e0!3m2!1str!2str!4v1710149879115!5m2!1str!2str" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>

<div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="container-fluid pt-5"
         style="border-top: 1px solid rgba(23, 162, 184, 0.2) ;">
        <p class="m-0 text-center text-white">
            &copy;
            <a class="text-primary font-weight-bold" href="#">KidKinder </a>.
            Tüm hakları saklıdır.

            Designed by
            <a class="text-primary font-weight-bold" href="https://htmlcodex.com">Kadir GÜVEN</a>
            <br />Distributed By:
            <a href="#" target="_blank">Murat YÜCEDAĞ</a>
        </p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $('form').submit(function (e) {
        e.preventDefault();
        Swal.fire({
            position: "top-end",
            icon: "success",
            title: "Mesajınız Gönderildi",
            showConfirmButton: false,
            timer: 1200
        });
        this.submit();
    });
</script>
