


<div class="col-lg-3 col-md-6 mb-5">
    <h3 class="text-primary mb-4">Get In Touch</h3>
    <div class="d-flex">
        <h4 class="fa fa-map-marker-alt text-primary"></h4>
        <div class="pl-3">
            <h5 class="text-white">Address</h5>
            <p>123 Street, New York, USA</p>
        </div>
    </div>
    <div class="d-flex">
        <h4 class="fa fa-envelope text-primary"></h4>
        <div class="pl-3">
            <h5 class="text-white">Email</h5>
            <p>info@example.com</p>
        </div>
    </div>
    <div class="d-flex">
        <h4 class="fa fa-phone-alt text-primary"></h4>
        <div class="pl-3">
            <h5 class="text-white">Phone</h5>
            <p>+012 345 67890</p>
        </div>
    </div>
</div>