


<div class="col-lg-3 col-md-6 mb-5">
    <h3 class="text-primary mb-4">İletişime Geçin..</h3>
    <div class="d-flex">
        <h4 class="fa fa-map-marker-alt text-primary"></h4>
        <div class="pl-3">
            <h5 class="text-white">Adres</h5>
            <p>Özlüce Mahallesi 50.Yıl Sokak No:1 Nilüfer / BURSA</p>
        </div>
    </div>
    <div class="d-flex">
        <h4 class="fa fa-envelope text-primary"></h4>
        <div class="pl-3">
            <h5 class="text-white">Mail Adresi</h5>
            <p>kidkinder@KidKinder.com</p>
        </div>
    </div>
    <div class="d-flex">
        <h4 class="fa fa-phone-alt text-primary"></h4>
        <div class="pl-3">
            <h5 class="text-white">Telefon</h5>
            <p>0224 325 68 98</p>
        </div>
    </div>
</div>