@model List<Booking>

@{
    ViewData["Title"] = "CompletedBooking";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Kayıt İstek Kısmı</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <!-- table section -->
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Tamamlanan kayıt isteklerini buradan görüntüleyebilirsiniz.</h2>
                        </div>
                    </div>
                    <div class="table_section padding_infor_info">
                        <div class="table-responsive-sm">
                            @if (!Model.Any())
                            {
                                <div class="container mt-5">

                                    <hr class="" />
                                    <br />
                                    <h5 class="text-center font-weight-bold text-danger">Tamamlanan Kayıt isteği bulunmamaktadır.</h5>
                                    <br />
                                    <br />
                                </div>

                            }
                            else
                            {
                                <table class="table table-striped text-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col">Ad Soyad</th>
                                            <th scope="col">Mail Adresi</th>
                                            <th scope="col">Telefon</th>
                                            <th scope="col">Sınıf</th>
                                            <th scope="col">Durum</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@item.Mail</td>
                                                <td>@item.Phone</td>
                                                <td>@item.Class.Name</td>
                                                <td width="200px"><a href="/Admin/Booking/DeleteBooking/@item.BookingID" class="btn btn-danger">Sil</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
