@model List<Gallery>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Medya Galerisi</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row column4 graph">
            <!-- Gallery section -->
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-auto">
                                <h2>Galeri Ekranı</h2>
                            </div>
                            <div class="col-auto">
                                <a href="/Admin/Gallery/CreateImage" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> &nbsp; Resim Ekle</a>
                            </div>
                        </div>

                    </div>
                    <div class="full gallery_section_inner padding_infor_info">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-sm-4 col-md-3 margin_bottom_30">
                                    <div class="column">
                                        <a data-fancybox="gallery" href="/galleryImages/@item.ImageUrl">
                                            <img class="img-responsive" height="250px" width="500px" src="/galleryImages/@item.ImageUrl" alt="#" />
                                        </a>
                                    </div>
                                    <div class="heading_section d-flex justify-content-around">
                                        <a href="/Admin/Gallery/DeleteImage/@item.GalleryID" class="btn btn-danger mt-2 mb-2">Sil</a>
                                        <div class="mt-2">
                                            @if (item.Status == true)
                                            {
                                                <a href="/Admin/Gallery/MakeItFalse/@item.GalleryID" class="btn btn-warning">Pasif Yap</a>
                                            }
                                            else
                                            {
                                                <a href="/Admin/Gallery/MakeItTrue/@item.GalleryID" class="btn btn-success">Aktif Yap</a>
                                            }

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

