@model List<Gallery>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Medya Galerisi</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row column4 graph">
            <!-- Gallery section -->
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0 ">
                            <div class="d-flex justify-content-around">
                                <h2>Galeri Ekranı</h2>
                                <a href="/Gallery/AddImage" class="btn btn-primary">Resim Ekle</a>
                            </div>
                          
                        </div>
                    </div>
                    <div class="full gallery_section_inner padding_infor_info">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-sm-4 col-md-3 margin_bottom_30">
                                    <div class="column">
                                        <a data-fancybox="gallery" href="@item.ImageUrl"><img class="img-responsive" src="@item.ImageUrl" alt="#" /></a>
                                    </div>
                                    <div class="heading_section d-flex justify-content-around">
                                        <h4>@item.ImageName</h4>
                                        <div class="mt-2">
                                            @if(item.Status == true)
                                            {
                                                <a href="/Admin/Gallery/MakeItFalse/@item.GalleryID" class="btn btn-warning">Pasif Yap</a>
                                            }
                                            else
                                            {
                                                <a href="/Admin/Gallery/MakeItTrue/@item.GalleryID" class="btn btn-success">Aktif Yap</a>
                                            }
                                            
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

