
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<div class="container-fluid bg-primary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center"
         style="min-height: 400px">
        <h3 class="display-3 font-weight-bold text-white">About Us</h3>
        <div class="d-inline-flex text-white">
            <p class="m-0"><a class="text-white" href="">Home</a></p>
            <p class="m-0 px-2">/</p>
            <p class="m-0">About Us</p>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- About Start -->
@await Component.InvokeAsync("_AboutPartial")
<!-- About End -->
<!-- Facilities Start -->
@await Component.InvokeAsync("_FacilitiyPartial")
<!-- Facilities Start -->
<!-- Team Start -->
@await Component.InvokeAsync("_TeacherPartial")
<div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="container-fluid pt-5"
         style="border-top: 1px solid rgba(23, 162, 184, 0.2) ;">
        <p class="m-0 text-center text-white">
            &copy;
            <a class="text-primary font-weight-bold" href="#">KidKinder </a>.
            Tüm hakları saklıdır.

            Designed by
            <a class="text-primary font-weight-bold" href="https://htmlcodex.com">Kadir GÜVEN</a>
            <br />Distributed By:
            <a href="#" target="_blank">Murat YÜCEDAĞ</a>
        </p>
    </div>
</div>
