

<nav id="sidebar">
    <div class="sidebar_blog_1">
        <div class="sidebar-header">
            <div class="logo_section">
                <a href="index.html"><img class="logo_icon img-responsive" src="~/pluto-1.0.0/images/logo/logo_icon.png" alt="#" /></a>
            </div>
        </div>
        <div class="sidebar_user_info">
            <div class="icon_setting"></div>
            <div class="user_profle_side">
                <div class="user_img"><img class="img-responsive" src="~/pluto-1.0.0/images/layout_img/user_img.jpg" alt="#" /></div>
                <div class="user_info">
                    <h6>KidKinder Admin</h6>
                    <p><span class="online_animation"></span> Online</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_blog_2">
        <h4>Admin Panel</h4>
        <ul class="list-unstyled components">

            <li><a href="/Default/Index"><i class="fa fa-file-text"></i> <span>Siteye Git</span></a></li>
            <li class="active"><a href="/Dashboard/Index"><i class="fa fa-dashboard yellow_color"></i>Ana Panel</a></li>
            <li><a href="/Class/Index"><i class="fa fa-clock-o orange_color"></i> <span>Sınıflar</span></a></li>
            <li><a href="/Teacher/Index"><i class="fa fa-user"></i> <span>Öğretmenler</span></a></li>
            <li><a href="/Children/Index"><i class="fa fa-group red_color"></i> <span>Öğrenciler</span></a></li>
            <li> <a href="/Message/Index"> <i class="fa fa-paper-plane green_color"></i> <span>Mesajlar</span></a> </li>
            <li class="active">
                <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Kayıtlar</span></a>
                <ul class="collapse list-unstyled" id="additional_page">
                    <li>
                        <a href="profile.html">> <span>Onay Bekleyen Kayıtlar</span></a>
                    </li>
                    <li>
                        <a href="project.html">> <span>Onaylanan Kayıtlar</span></a>
                    </li>
                    <li>
                        <a href="login.html">> <span>İptal Edilen Kayıtlar</span></a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#setting_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-cog purple_color"></i> <span>Sayfa Ayarları</span></a>
                <ul class="collapse list-unstyled" id="setting_page">
                    <li>
                        <a href="/Feature/Index"> <span>Başlık</span></a>
                    </li>
                    <li>
                        <a href="/Testimonial/Index"> <span>Yorumlar</span></a>
                    </li>
                    <li>
                        <a href="/Contact/Index"> <span>İletişim</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>