@model List<Testimonial>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Yorum Bilgileri</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Yorum bilgilerini buradan görüntüleyebilirsiniz.</h2>
                        </div>
                    </div>
                    <div class="table_section padding_infor_info">
                        <div class="table-responsive-sm">
                            <table class="table table-striped text-dark">
                                <thead>
                                    <tr class=" text-dark font-weight-bold">
                                        <th scope="col">Foto</th>
                                        <th scope="col">Ad Soyad</th>
                                        <th scope="col">Kimin Ebeveyni</th>
                                        <th scope="col">Yorum</th>
                                        <th scope="col">Sil</th>
                                        <th scope="col">Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="align-middle">
                                                <img src="/testimonialImages/@item.ImageUrl" style="border-radius:50%" width="80px" height="80px" />
                                            </td>
                                            <td class="align-middle">
                                                <span>
                                                    @item.Name
                                                </span>
                                            </td>
                                            <td class="align-middle">
                                                <span>
                                                    @item.WhosParent
                                                </span>
                                            </td>
                                            <td class="align-middle">
                                                <span>
                                                    @item.Comment
                                                </span>
                                            </td>
                                            <td width="120px" class="align-middle">
                                                <a href="/Admin/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-danger">Sil</a>
                                                </td>
                                            <td width="120px" class="align-middle"><a href="/Admin/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-warning">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <a href="/Admin/Testimonial/CreateTestimonial" class="btn btn-primary">Sınıf Oluştur</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
