


<div class="col-lg-3 col-md-6 mb-5">
    <a href=""
       class="navbar-brand font-weight-bold text-primary m-0 mb-4 p-0"
       style="font-size: 40px; line-height: 40px">
        <i class="flaticon-043-teddy-bear"></i>
        <span class="text-white">KidKinder</span>
    </a>
    <p>
        Labore dolor amet ipsum ea, erat sit ipsum duo eos. Volup amet ea
        dolor et magna dolor, elitr rebum duo est sed diam elitr. Stet elitr
        stet diam duo eos rebum ipsum diam ipsum elitr.
    </p>
    <div class="d-flex justify-content-start mt-4">
        <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
           style="width: 38px; height: 38px"
           href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
           style="width: 38px; height: 38px"
           href="#">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
           style="width: 38px; height: 38px"
           href="#">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
           style="width: 38px; height: 38px"
           href="#">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</div>